google-chrome
discord
zoomus.conf
Code
teams
nvim/plugged
coc
JetBrains
Microsoft
nvim/pack
pulse
libreoffice
bstudio
Typora
Atom
GIMP
GitKraken
Unknown Organization
Webcamoid
abiword
autostart
evolution
flowblade
gedit
gh
